# Mengabaikan folder capstone
capstone/

# Mengabaikan folder pycache
__pycache__/

# Mengabaikan file log
*.log

# Mengabaikan file build output
/build/

# Mengabaikan file temporer
*.tmp

# Mengabaikan model (file dengan ekstensi .h5 dalam folder model)
model/*.h5

# Mengabaikan file hasil preprocessing
data/*.npy