body {
    background-image: url('../img/bg-main.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}

.fixed-logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    padding: 16px 0 0 26px;
}

.containers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77vh;
}

.card {
    margin-top: 60px !important;
    padding: 32px 16px !important;
}

.form-control:focus~label {
    color: #6861ce !important;
}

.form-control:focus {
    border-color: #6861ce;
    box-shadow: 0 0 0 0.1rem #534da7;
}

#icon-user {
    display: none;
}

#user-text {
    display: block;
}

#dropzoneText {
    padding: 0;
    margin: 0;
}

.dropzone {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 5px 20px 10px 20px;
    text-align: center;
    color: #999;
    cursor: pointer;
    position: relative;
    max-height: 300px;
}

.dropzone.dragover {
    border-color: #6861ce;
    background-color: #f0f0f0;
    color: #6861ce;
}

.dropzone i {
    font-size: 64px;
    margin-bottom: 6px;
    color: #ccc;
}

.dropzone button {
    margin-top: 12px;
}

nav {
    padding: 16px 24px !important;
}

footer {
    color: black;
    text-align: right;
    font-size: 13px;
    margin-top: 48px;
    padding: 0 20px;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 576px) {
    footer {
        text-align: center;
        margin-top: 0;
        padding: 10px;
    }

    #icon-user {
        display: block;
    }

    #user-text {
        display: none;
    }

    .fixed-logo {
        height: 68px;
        padding: 16px 0 0 24px;
    }

    .floating-btn-1,
    .floating-btn-2 {
        display: none;
    }
}

.floating-btn-1,
.floating-btn-2 {
    width: 52px;
    height: 52px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 0;
    left: 35px;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.floating-btn-1 {
    bottom: 35px;
}

.floating-btn-2 {
    bottom: 100px;
}

.floating-btn i {
    font-size: 18px;
    color: white;
}

#notebookPreview {
    position: relative;
    height: 614px;
    border: 1px solid #ddd;
    overflow: hidden;
}

#notebookIframe {
    width: 100%;
    height: 100%;
    border: none;
    position: relative;
}

#overlays, 
#watermark {
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
}

#overlays {
    z-index: 1001;
    width: 90.85%;
    margin-left: 40px;
    position: absolute;
    pointer-events: all;
} 

#watermark {
    width: 100%;
    z-index: 1000;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255, 0.2);
}

#watermark img {
    filter: grayscale(100%) opacity(0.2);
}

#loadingIndicator {
    display: none; 
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1002;
}